In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("DATA/ValeursFoncieres-2024.txt", sep="|")
df.head()
df["Code postal"].head()

C:\Users\cheml\AppData\Local\Temp\ipykernel_20976\3152713151.py:1: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("DATA/ValeursFoncieres-2024.txt", sep="|")

0    1230.0
1    1170.0
2    1290.0
3    1170.0
4    1170.0
Name: Code postal, dtype: float64

In [4]:
df.info()
print(f"Nombre de lignes: {df.shape[0]}")
print(f"Nombre de colonnes: {df.shape[1]}")
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489149 entries, 0 to 3489148
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    object
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(16), int64(4), object(23)
memory usage: 1.1+ GB
Nombre de lignes: 3489149
Nombre de colonnes: 43

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,No voie,Code postal,Code commune,Prefixe de section,No plan,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.489149e+06,2.157060e+06,3.466397e+06,3.489149e+06,170201.000000,3.489149e+06,7127.000000,3.489149e+06,2.006266e+06,0.0,2.003901e+06,2.003901e+06,2.411123e+06
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.236162e+00,6.591015e+02,5.005204e+04,2.060409e+02,433.055329,4.122547e+02,247.348955,4.232900e-01,2.280403e+00,NaN,6.556826e+01,1.724282e+00,3.111542e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.448379e+00,1.947017e+03,2.748963e+04,1.665312e+02,315.710455,5.797546e+02,5643.207903,8.393400e-01,9.254353e-01,NaN,8.028068e+02,2.062316e+00,1.455585e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+03,1.000000e+00,1.000000,1.000000e+00,2.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,8.000000e+00,2.811000e+04,7.400000e+01,164.000000,8.400000e+01,7.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,2.580000e+02
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.400000e+01,4.938000e+04,1.690000e+02,314.000000,2.210000e+02,20.000000,0.000000e+00,2.000000e+00,NaN,2.900000e+01,1.000000e+00,6.550000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,9.400000e+01,7.500700e+04,2.940000e+02,820.000000,5.060000e+02,57.000000,1.000000e+00,3.000000e+00,NaN,8.000000e+01,3.000000e+00,1.990000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.110000e+02,9.999000e+03,9.749000e+04,9.090000e+02,950.000000,8.399000e+03,242014.000000,2.360000e+02,4.000000e+00,NaN,5.934000e+05,1.980000e+02,7.700000e+06

In [5]:

files = [
    ("DATA/ValeursFoncieres-2020-S2.txt", 2020),
    ("DATA/ValeursFoncieres-2021.txt", 2021),
    ("DATA/ValeursFoncieres-2022.txt", 2022),
    ("DATA/ValeursFoncieres-2023.txt", 2023),
    ("DATA/ValeursFoncieres-2024.txt", 2024),
    ("DATA/ValeursFoncieres-2025-S1.txt", 2025)
]

dfs = []
for file, annee in files:
    temp_df = pd.read_csv(file, sep="|", low_memory=False)
    temp_df["Annee"] = annee
    dfs.append(temp_df)

df_total = pd.concat(dfs, ignore_index=True)
df_total.to_csv("DATA/ValeursFoncieres_all.csv", index=False)
print(f"Total: {len(df_total)} lignes")
df_total.head()

Total: 20102739 lignes

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Annee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1192.0,2020
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,0,NaN,NaN,NaN,NaN,NaN,BS,NaN,10092.0,2020
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,0,NaN,NaN,NaN,NaN,NaN,L,NaN,4570.0,2020
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,0,NaN,NaN,NaN,NaN,NaN,BS,NaN,5750.0,2020
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,648170.0,2020