In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data/ValeursFoncieres-2020-S2.txt', sep='|')

C:\Users\arezk\AppData\Local\Temp\ipykernel_7428\1182889806.py:1: DtypeWarning: Columns (14,18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/ValeursFoncieres-2020-S2.txt', sep='|')

In [4]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1192.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BS,NaN,10092.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,4570.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BS,NaN,5750.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,01/07/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,648170.0

In [8]:
print(len(df.columns))

43